<h1>Editing Book</h1>

<%= form_with model: @books, url: book_path(@books.id), method: :patch do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <div class="tyan">
    <%= f.submit 'Update Book' %>
  </div>

<% end %>

<%= link_to "show",book_path(@books.id) %>
|
<%= link_to "back",books_path %>